<html lang="en">
<head>
  <title>Kahoots Klip Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
</head>
<body>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="welcome col-md-10 col-md-offset-1">
<!--Page title-->
  <div class="row">
    <div class="title col-md-10">
      <h1 style="text-transform:capitalize">Group: {{userGroups[activeGroup].name}}</h1>
      <!--Welcome Message-->
      <h6>Signed in as {{user.email}}</h6>
    </div>
  </div>
  <!--END Title-->

<!--Group View-->

  <div class="panel panel-default group-view col-md-10">
    <!--Active Clip-->
    <div class="row">
    <!--Active Clip Image-->
      <div class="col-md-8">
        <div class="well" style="margin:10px">
          <img class="img-thumbnail"  ng-src="{{groupClips[activeClip].content}}{{oauth.access_token}}">
        </div>
      </div>
      <!--Active clip/group comments-->
      <div class="col-md-4">
        <h2>Your Notes</h2>
        <div class="comment-container panel panel-default">
          <div class="notes" style="margin:10px" ng-repeat="comment in groupComments.annotations track by $index" scroll-glue>
            <p><b>{{comment.hasBody.details.first_name}}</b> : {{comment.hasBody.chars}} </p>
          </div>
        </div>
        <form class="comment-form" ng-submit="addComment()" name="commentForm">
          <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
          <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">
        </form>
      </div>
    </div>
    <!--Buttons-->
    <div class="row">
      <div class="col-md-8">
        <div class="btn group">
          <a ng-href="{{groupClips[activeClip].source}}" class="btn btn-default" type="button" data-toggle="tooltip" title="URL" >
            <em class="glyphicon glyphicon-link"></em>
          </a>
          <button class="btn btn-default" type="button" ng-click="share()" data-toggle="tooltip" title="Share" >
            <em class="glyphicon glyphicon-share"></em>
          </button>
          <button class="btn btn-default" type="button" ng-click="removeClip()" data-toggle="tooltip" title="Delete" >
            <em class="glyphicon glyphicon-trash"></em>
          </button>
        </div>
      </div>
    </div>
  </div>

 <!--clip grid-->
  <div class="my-clips col-md-10 panel panel-default">
      <h3 style="text-transform:capitalize">Active Group: {{userGroups[activeGroup].name}}
       <button class="btn btn-default pull-right" type="button" ng-click="leaveGroup(userGroups[activeGroup])" data-toggle="tooltip" title="Leave Group" >
         <em class="glyphicon glyphicon-remove"></em>
       </button>
      </h3>

      <ul class="nav nav-tabs">
      <li ng-repeat="group in userGroups track by $index">
        <a href="#" ng-click="setActiveGroup($index)">{{group.name}}</a>
      <li/>
      <li id="addUser-btn"><a href="#"  ng-click="addUserPage()"><b>+ User</b></a></li>
      <li><a href="#" ng-click="newGroupPage()"><b>+ Group</b></a></li>
    </ul>
    <div class="">
      <div class="clips" ng-repeat="clip in groupClips track by $index">
        <img class="img-thumbnail col-md-2" ng-src="{{clip.content}}{{oauth.access_token}}" style="margin:10px" ng-click="setActiveClip($index)">
      </div>
    </div>
  </div>
</div>
<!--END My Clips View-->




</body>
<footer class="footer" style="border-top: none">
  <div class="container">

    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
