<html lang="en">
<head>
  <title>Kahoots Klip Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 </head>
<body>
<div ng-include="'components/navbar/navbar.html'"></div>

<!--Welcome Message-->
<div class="welcome col-md-10 col-md-offset-1">
  <!--Page title-->
  <div class="row">
    <div class="title col-md-10">
      <h1 style="text-transform:capitalize">Create a new group</h1>
      <!--Welcome Message-->
      <h6>Signed in as {{user.email}}</h6>
    </div>
  </div>
  <!--END Welcome Message-->


  <!--Add New Group-->
  <div class="row">
    <div class="panel panel-default add-group col-md-10" style="padding:10px">
      <h3>Create a new group.</h3>
      <form role="form" name="newGroup">
        <div class="form-group">
          <label for="name">Group name:</label>
          <input ng-model="newGroup.name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="description">Group description:</label>
          <input ng_model="newGroup.description" class="form-control" id="description">
        </div>

        <button type="cancel" class="btn btn-default" ng-click="goBack()">
          <em class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="Go Back" ></em>
        </button>
        <button type="submit" class="btn btn-default" ng-click="addGroup()">Submit</button>
      </form>
    </div>
  </div>

<!--END Add new Group-->
</div>

</body>
<footer class="footer">
  <div class="container">

    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
