<!DOCTYPE html>
<html lang="en">
<head></head>
<body>

<div class="header">
  <h1>Kahoots</h1>
</div>

<div class="active-clip">
  <div class="col-md-6">
    <h4>Active Clip</h4>
    <img ng-src="{{awesomeClips[0].content}}">
  </div>
  <div class="col-md-6">
    <ul class="comments" ng-repeat="comment in awesomeClips[0].comments">
      <li>{{comment}}</li>
    </ul>
    <h6>Comments</h6>
    <form class="comment-form" ng-submit="updateClip()" name="commentForm">
      <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
      <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">

    </form>
  </div>
</div>
<div class="all-clips">
<ul class="clips" ng-repeat="clip in awesomeClips">
  <li><table class="clip-table">
    <tr>
      <td><img ng-src="{{clip.content}}"></td>
      <td>{{clip.name}}</td>
    </tr>
  </table> </li>
</ul>
</div>

</body>
</html>


