<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="page-header">Clips:</h1>
      <ul class="clips" ng-repeat="clip in awesomeClips">
        <li><table class="clip-table">
          <tr>
            <td><img ng-src="{{clip.content}}"></td>
            <td>{{clip.name}}</td>
          </tr>
        </table> </li>
      </ul>

      <h6>Comments</h6>
      <form class="comment-form" ng-submit="updateClip()" name="commentForm">
        <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
        <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">

      </form>
      <ul class="comments" ng-repeat="comment in awesomeClips[0].comments">
        <li>{{comment}}</li>
      </ul>
      <ul class="comments" ng-repeat="comment in awesomeClips[1].comments">
        <li>{{comment}}</li>
      </ul>

    </div>
  </div>
</div>

<div class="header">
  <h1>Kahoots</h1>
</div>

<div class="active-clip">
  <div class="col-md-6">
    <h4>Active Clip</h4>
    <img ng-src="{{activeClip.content}}">
  </div>
  <div class="col-md-6">
    <ul class="comments" ng-repeat="comment in activeClip.comments">
      <li>{{comment}}</li>
    </ul>
    <h6>Comments</h6>
    <form class="comment-form" ng-submit="updateClip()" name="commentForm">
      <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
      <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">

    </form>
  </div>
</div>
<div class="all-clips">
  <ul class="clips" ng-repeat="clip in awesomeClips">
    <li><table class="clip-table">
      <tr>
        <td><img ng-src="{{clip.content}}" ng-click="updateActiveClip(clip)"></td>
        <td>{{clip.name}}</td>
      </tr>
    </table> </li>
  </ul>
</div>


<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
