<html lang="en">
<head>
  <title>Kahoots Klip Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="welcome">
      <h1>Hello, {{user.first_name}}!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-success">
    <div class="view-type">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">My Clips</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Groups</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-warning">
    <div class="myclips-view">
      <div class="column">
        <div class="col-md-8 bg-success">
          <h2>Active Clip</h2>
          <div class="active-clip-container">
            <img class="img-thumbnail" style="max-height:500px;max-width:500px" ng-src="{{usersClips[activeClip].content}}">
            <h6><a ng-href="{{usersClips[activeClip].source}}"><i class="fa fa-space-shuttle"></i>Source of clip.</a></h6>
          </div>
        </div>
        <div class="col-md-4 bg-danger">
          <h2>Notes</h2>
          <div class="comment-container">
            <div class="comments" ng-repeat="comment in usersClips[activeClip].comments track by $index">
              {{comment}}
            </div>
          </div>
          <form class="comment-form" ng-submit="updateClip()" name="commentForm">
            <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new note." required></textarea>
            <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Add">
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-warning">
    <div class="groups-view">
      <div class="column">
        <div class="col-md-8 bg-danger">
          <h2>Active Clip</h2>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Share <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="active-clip-container">
            <img class="img-thumbnail" style="max-height:500px;max-width:500px" ng-src="{{visibleClips[activeClip].content}}">
            <h6><a ng-href="{{visibleClips[activeClip].source}}"><i class="fa fa-space-shuttle"></i>Source of clip.</a></h6>
          </div>
        </div>
        <div class="col-md-4 bg-success">
          <div class="group-clips">
            <h3>Clip's Groups</h3>
            <ul class="nav nav-tabs">
              <li ng-repeat="group in userGroups track by $index">
                <a href="#{{group}}" ng-click="updateActiveGroup(group)">{{group.name}}</a>
              <li/>
            </ul>
          <h3>Chat</h3>
          <div class="comment-container">
            <div class="comments" ng-repeat="comment in visibleClips[activeClip].comments track by $index">
              {{comment}}
            </div>
          </div>
          <form class="comment-form" ng-submit="updateClip()" name="commentForm">
            <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
            <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="create-group">
    <div class="col-md-10 col-md-offset-1 bg-warning">
      <h3>Create a new group.</h3>
      <form role="form">
        <div class="form-group">
          <label for="name">Group name:</label>
          <input ng-model="newGroup.name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="description">Group description:</label>
          <input ng_model="newGroup.description" class="form-control" id="description">
        </div>
        <button type="submit" class="btn btn-default" ng-click="createNewGroup()">Submit</button>
        <button type="cancel" class="btn btn-default" ng-click="toggleCreateGroup()">Cancel</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="Add-user">
    <div class="col-md-10 col-md-offset-1 bg-warning">
      <h3>Add user to {{userGroups[activeGroup].name}}</h3>
      <form role="form">
        <div class="form-group">
          <label for="email">User email:</label>
          <input ng-model="newUser.email" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-default" ng-click="null">Submit</button>
        <button type="cancel" class="btn btn-default" ng-click="null">Cancel</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-warning">
    <div class="my-clips">
          <h3>My Clips</h3>
          <div class="clips" ng-repeat="clip in usersClips">
            <div class="col-md-2">
              <img class="img-thumbnail" ng-src="{{clip.content}}" ng-click="updateActiveClip(clip)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-warning">
    <div class="group-clips">
      <h3>My Groups</h3>
      <ul class="nav nav-tabs">
        <li ng-repeat="group in userGroups track by $index">
          <a href="#{{group}}" ng-click="updateActiveGroup(group)">{{group.name}}</a>
        <li/>
        <li><a href="#new-group" ng-click="toggleCreateGroup()"><b>+ User</b></a></li>
        <li><a href="#new-group" ng-click="toggleCreateGroup()"><b>+ Group</b></a></li>
      </ul>

      <div class="tab-content">
        <div id="myclips" class=""tab pane fade in active>
          <h3>{{userGroups[activeGroup].name}}</h3>
          <div class="clips" ng-repeat="clip in visibleClips">
            <div class="col-md-2">
              <img class="img-thumbnail" ng-src="{{clip.content}}" ng-click="updateActiveClip(clip)">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
<!--div class="row">
  <div class="col-md-6 col-md-offset-1 bg-success">
  <h2>Active Clip</h2>
    <div class="active-clip">
    <img class="img-rounded" ng-src="{{visibleClips[activeClip].content}}" allign="left">
    <h6><a ng-href="{{visibleClips[activeClip].source}}"><i class="fa fa-space-shuttle"></i>Source of clip.</a></h6>
      </div>
  </div>

  <div class="col-md-4  bg-info">
    <h2>Comments</h2>
    <div class="comment-container">
    <div class="comments" ng-repeat="comment in visibleClips[activeClip].comments track by $index">
      {{comment}}
    </div>
      </div>
    <form class="comment-form" ng-submit="updateClip()" name="commentForm">
      <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
      <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">

    </form>
  </div>
</div>

<div class="row">
  <div class="create-group">
    <div class="col-md-10 col-md-offset-1 bg-warning">
      <h3>Create a new group.</h3>
      <form role="form">
      <div class="form-group">
        <label for="name">Group name:</label>
        <input ng-model="newGroup.name" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="description">Group description:</label>
        <input ng_model="newGroup.description" class="form-control" id="description">
      </div>
      <button type="submit" class="btn btn-default" ng-click="createNewGroup()">Submit</button>
      <button type="cancel" class="btn btn-default" ng-click="toggleCreateGroup()">Cancel</button>
     </form>
    </div>
  </div>
 </div>




<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-danger">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home">My Clips</a></li>
      <li ng-repeat="group in userGroups track by $index">
        <a href="#{{group}}" ng-click="updateActiveGroup(group)">{{group.name}}</a>
      <li/>
      <li><a href="#new-group" ng-click="toggleCreateGroup()"><b>+ Group</b></a></li>
    </ul>

    <div class="tab-content">
      <div id="myclips" class=""tab pane fade in active>
        <h3>{{userGroups[activeGroup].name}}</h3>
        <div class="clips" ng-repeat="clip in visibleClips">
          <div class="col-md-2">
            <img class="img-thumbnail" ng-src="{{clip.content}}" ng-click="updateActiveClip(clip)">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

</body>











-->

  <footer class="footer">
    <div class="container">

      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
