<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <div class="welcome">
    <h1>Hello, {{user.first_name}}!</h1>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1 bg-success"><h2>Active Clip</h2>
    <div class="active-clip">
    <img class="img-rounded" ng-src="{{awesomeClips[index].content}}" allign="left">
    <h6><a ng-href="{{awesomeClips[index].source}}"><i class="fa fa-space-shuttle"></i>Source of clip.</a></h6>
      </div>
  </div>

  <div class="col-md-4  bg-info">
    <h2>Comments</h2>
    <div class="comment-container">
    <div class="comments" ng-repeat="comment in awesomeClips[index].comments track by $index">
      {{comment}}
    </div>
      </div>
    <form class="comment-form" ng-submit="updateClip()" name="commentForm">
      <textarea class="form-control" ng-model="newComment" rows="3" placeholder="Enter a new comment." required></textarea>
      <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">

    </form>
  </div>
</div>

<div class="row">
<div class="create-group">
  <div class="col-md-10 col-md-offset-1 bg-warning">
    <h3>Create a new group.</h3>
    <form role="form">
      <div class="form-group">
        <label for="name">Group name:</label>
        <input ng-model="newGroup.name" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="description">Group description:</label>
        <input ng_model="newGroup.description" class="form-control" id="description">
      </div>
      <button type="submit" class="btn btn-default" ng-click="createNewGroup()">Submit</button>
      <button type="cancel" class="btn btn-default" ng-click="toggleCreateGroup()">Cancel</button>
    </form>
  </div>
  </div>
  </div>




<div class="row">
  <div class="col-md-10 col-md-offset-1 bg-danger">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home">My Clips</a></li>
      <li ng-repeat="group in awesomeGroups track by $index">
        <a href="#{{group}}">{{group.name}}</a>
      <li/>
      <li><a href="#new-group" ng-click="toggleCreateGroup()"><b>+ Group</b></a></li>
    </ul>

    <div class="tab-content">
      <div id="myclips" class=""tab pane fade in active>
        <h3>My Clips</h3>
        <div class="clips" ng-repeat="clip in awesomeClips">
          <div class="col-md-2">
            <img class="img-thumbnail" ng-src="{{clip.content}}" ng-click="updateActiveClip(clip)">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

</body>













  <footer class="footer">
    <div class="container">

      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
