<html lang="en">
<head>
  <title>Kahoots Klip Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div ng-include="'components/navbar/navbar.html'"></div>

<!--Welcome Message-->
<div class="row">
  <div class="welcome col-md-10 col-md-offset-1">
    <h1>Hello, {{user.first_name}}!</h1>
  </div>
</div>
<!--END Welcome Message-->

<!--Add New User-->
<div class="row">
  <div class="add-user col-md-10 col-md-offset-1 bg-warning">
    <h3>Add user to {{userGroups[activeGroup].name}}</h3>
    <form role="form">
      <div class="form-group">
        <label for="email">User email:</label>
        <input ng-model="newUser" class="form-control" id="email">
      </div>
      <button type="submit" class="btn btn-default" ng-click="addUser()">Submit</button>
      <button type="cancel" class="btn btn-default" ng-click="goBack()">Cancel</button>
    </form>
  </div>
</div>
<!--Add New User-->

</body>
<footer class="footer">
  <div class="container">

    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
