<html lang="en">
<head>
  <title>Kahoots Klip Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div ng-include="'components/navbar/navbar.html'"></div>

<!--Welcome Message-->
<div class="welcome col-md-10 col-md-offset-1">
  <!--Page title-->
  <div class="row">
    <div class="title col-md-10">
      <h1 style="text-transform:capitalize">Add user to Group: {{group.name}}</h1>
      <!--Welcome Message-->
      <h6>Signed in as {{user.email}}</h6>
    </div>
  </div>
  <!--END Welcome Message-->

<!--Add New User-->
  <div class="row">
    <div class="panel panel-default add-user col-md-10" style="padding:10px">
      <form role="form">
        <div class="form-group">
          <label for="email">User email:</label>
          <input ng-model="newUser" class="form-control" id="email">
        </div>
        <button type="cancel" class="btn btn-default" ng-click="goBack()">
          <em class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="Go Back" ></em>
        </button>
        <button type="submit" class="btn btn-default" ng-click="addUser()">Submit</button>
      </form>
    </div>
  </div>
<!--Add New User-->
</div>

</body>
<footer class="footer" style="border-top: none">
  <div class="container">

    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
